.MuiTextField-root input {
  /* 6.5px = 18.5px - 12px (note: 18.5px is the input's default padding top and bottom) */
  padding-top: 6.5px;
  padding-bottom: 6.5px;
}

.MuiTextField-root label {
  top: -12px;
}

.MuiTextField-root label[data-shrink="true"] {
  top: 0;
}
